*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  /* background-image: url(Black\ Bold\ Modern\ Vegetable\ Business\ Card\ Food.jpg); */
}

.title{
  margin: 20px 0;
  font-weight: 800;
  text-align: center;
  color: #000;
}


.main{
  border:  5px solid #dddd;
  border-radius: 25px;
  overflow: hidden;
  width: 500px;
  /* background-color: yellow; */
}

.name{
  display: flex;
  font-size: 20px;
  font-weight: 800;
  padding: 10px 10px;
  color: #7e7e7e;
  /* background-color: red; */
  /* background-image: url('blue-pink-20-pct.png');
  background-size: cover ; */
 }

 .message-left{
  /* border-radius: 20px 20px 0 20px; */
  align-self: flex-start;
  width: 850px;
  background-color: #2c2b2b;
  box-shadow: 2px 2px 4px #dcdcdc;
  color: #f6f6f6;
  padding: 5px;
  margin: 10px;
  }

  .message-left>p{
  padding: 2px 15px;
  margin: 10px 5px;
  }


  .message-right{
    border-radius: 20px 20px 20px 0px;
    align-self: flex-end;
    background-color: #615f5f;
    box-sizing: -2px 2px 4px #dcdcdc;  
    padding: 10px;
  margin: 15px;
  }

  .message-left, 
 .message-right{
list-style: none;
color: #f6f6f6;
/* padding: 8px 15px; */
/* margin: 12px; */
max-width: 250px;
font-size: 16px;
word-wrap: break-word
}

 
.message-container{
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  /* background-image: url('blue-pink-20-pct.png'); */
  background-size: cover ;
  width: 400px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: red;
  background-image: url(restaurant-menu-design-on.jpg);
  background-size: cover;
}

.message-form{
  display: flex;
  justify-content: space-between;
  width: 400px;
  
}

.message-input{
  flex-grow: 1;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  padding: 5px 12px;
  background-color: #fff;
 
}

.send-button{
  height: 40px;
  font-size: 16px;
  font-weight: 800;
 border-radius: 5px;
  border-color: #000;
  padding: 2px 20px;
  /* outline: none; */
  background-color: #fff;
  cursor: pointer;
}

button:hover{
  color: white;
  background-color: black;
  font-weight: 800;

}

.message-input:hover{
  border:  none;
  box-shadow: 5px 5px 5px 5px #000;
  /* background-color: red; */
}

.v-divider{
  padding: 8px;
}

